.language-container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.language-container:hover, .language-container:focus-within {
  background-color: #666;
  color: #eee;
}

.language-container>label {
  z-index: 10;
  pointer-events: none;
}

select {
  position: absolute;
  inset: 0;
  flex-grow: 1;
  cursor: pointer;
  text-align: right;
  padding: 0.5rem;
}

select:hover, select:focus {
  background-color: #666;
  color: #eee;
}

button {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

button:hover, button:focus {
  background-color: #666;
  color: #eee
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

form>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 400px;
}

label {
  padding: 5px;
}